.env
.env.*
!.env.example
**/.env
**/.env.*
!**/.env.example
.git
/auth.json
**/auth.json
.npmrc
vendor
database/*.sqlite
database/*.sqlite-*
node_modules
storage/logs/*.log
storage/framework/views/*
storage/framework/cache/data/*
storage/framework/sessions/*
bootstrap/cache/*.php